.home-container {
    display: flex;
    justify-content: center; /* Horizontally center the content */
    height: 90vh; /* Set the height of the container to the full viewport height */
  }

  .triangle {
    width: 100vw;
    height: 100vh;
    background-color: #007BFF; /* Your triangle color */
    clip-path: polygon(100% 0, 100% 100%, 0 100%);
    position: fixed;
    bottom: 0;
    right: 0;
  }

