.home-screen {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #2f00ff30;
    height: 400px;
    width: 300px;
    border-radius: 10px;
    box-shadow: 5px 5px 14px #00000060;
    position: relative;
    bottom: 100px;
    border: 1px solid rgba(255, 255, 255, 0.233);
}

.tilted-logo {
    width: 40%;
    position: relative;
    bottom: 100px;
    border-radius: 42%;
    padding: 25px;

    background-color: rgba(255, 255, 255, 0.6);
    box-shadow: 5px 5px 14px #00000060;

}

.button-body {
    background: rgba(255, 255, 255, 0.6);
    box-shadow: 5px 5px 14px #00000060;
    transition: all 0.2s ease; /* Smooth transition for press effect */
    text-decoration: none;
    font-size: 1.5rem;
    width: 200px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    position: relative;
    bottom: 30px;
    border-radius: 5px;
}

.button-body:active {
    transform: scale(0.95); /* Slightly scale down the button when pressed */
    box-shadow: 2px 2px 6px #00000099; /* Adjust the shadow to give a "pressed" look */
  }

.button-text {
    color: #2f00ff;
    text-shadow: 1px 1px 2px rgba(255, 255, 255, 1);
    font-weight: 700;
}

.button-body.left {
    margin-bottom: 50px;

}

@keyframes jiggle {
    0%, 12.5%, 100% { transform: rotate(0); }
    6.25% { transform: rotate(-5deg); }
    18.75% { transform: rotate(5deg); }
    25%, 37.5% { transform: rotate(0); }
    31.25% { transform: rotate(-5deg); }
    43.75% { transform: rotate(5deg); }
    50%, 62.5% { transform: rotate(0); }
    56.25% { transform: rotate(-5deg); }
    68.75% { transform: rotate(5deg); }
    75%, 87.5% { transform: rotate(0); }
    81.25% { transform: rotate(-5deg); }
    93.75% { transform: rotate(5deg); }
  }
  
  .tilted-logo.jiggle {
    animation: jiggle 2s ease-in-out; /* Adjusted duration for the complete cycle */
  }
  
  
  @keyframes rotate360 {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
  }
  
  
  
  .tilted-logo.rotate {
    animation: rotate360 1s linear;
  }

  @keyframes flipX {
    from { transform: rotateX(0deg); }
    to { transform: rotateX(360deg); }
}

.tilted-logo.flipX {
  animation: flipX 3s linear forwards;
}



@keyframes spinY {
    from { transform: rotateY(0deg); }
    to { transform: rotateY(360deg); }
}

.tilted-logo.spinY {
  animation: spinY 3s linear forwards;
}
  
  