.navbar {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 75px;
    align-items: center;

}

.divider-img-406099 {
    position: absolute;
    width: 100%;
    height: 183px;

    transform: scale(1, -1);
    top: 0px;
    left: 0px;
    fill: rgba(7, 65, 223, 0.404)
}


.logo {

    z-index: 3;
    display: flex;
    align-items: center;
    justify-content: flex-start; /* Ensures logo content is aligned to the left */
    font-size: 2.5rem;
    color: white;
    font-family: 'Whale';
    margin-left: 60px;
    > h4 {
        margin: 0;
    }
}

.nav-links {

    z-index: 3;
    display: flex;
    align-items: center;
    justify-content: flex-end; /* Aligns nav-links content to the right */
    margin-right: 60px;

    >a {
        color: white;
        margin: 0 25px;
        font-size: 1.5rem;
        font-family: 'Whale';
        text-decoration: none;
    }
}

.logo, .nav-links {
    flex: 1; /* Allows each to grow */
}
