

.navbar {
    display: flex;
    background-color: #2f00ff50;
    justify-content: space-between;
    height: 75px;
    align-items: center;
    margin: 10px 20%;
    position:sticky;
    top:15px;
    border-radius: 10px;
    box-shadow: 5px 5px 14px #00000060;

}





.logo {

    z-index: 3;
    display: flex;
    align-items: center;
    justify-content: flex-start; /* Ensures logo content is aligned to the left */
    font-size: 2.5rem;
    color: white;
    font-family: 'Whale';
    margin-left: 60px;
    > h4 {
        margin: 0;
    }
}

.nav-links {

    z-index: 3;
    display: flex;
    align-items: center;
    justify-content: flex-end; /* Aligns nav-links content to the right */
    margin-right: 60px;

    >a {
        color: white;
        margin: 0 25px;
        font-size: 1.5rem;
        font-family: 'Whale';
        text-decoration: none;
    }
}

.logo, .nav-links {
    flex: 1; /* Allows each to grow */
}

.navbar-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navbar {
    width: 80%;
    transition: transform 0.5s ease; /* Smooth transition for sliding */
}

.navbar-toggle {
    cursor: pointer;
    font-size: 100px; /* Adjust size as needed */
    z-index: 1; /* Ensure it is clickable but below the navbar content when expanded */
    padding: 10px 0; /* Adds some space around the dash */
    color: white;
    position: relative;
    bottom: 50px;
}

